Package: mdm-app-event-service-dbgsym
Package-Type: ddeb
Source: mdm-app-event-service
Version: 1.0.1-0930
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: wangweinan <wangweinan@kylinos.cn>
Installed-Size: 688
Depends: mdm-app-event-service (= 1.0.1-0930)
Section: debug
Priority: optional
Description: debug symbols for mdm-app-event-service
Build-Ids: cc632a22eaee16a262833250c052f9d2510106e1
